header,
nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 16px;
    list-style-type: none;
}

article {
    border: 1px solid black;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 16px;
}

section {
    border: 1px solid grey;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}