img {
    height: 100px;
}

.padding-element {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* padding-top: 20px; 
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 30px; */
    /* padding: 50px; */


    /* padding: 10px 40px 30px 20px; */
    /* padding: 10px 40px 30px; */
    /* padding: 10px 40px; */
    /* padding: 10px; */
}
